/.idea/
/.vscode/
/.DS_Store
Thumbs.db

/backend/target/
/backend/.m2/
/backend/.mvn/
/frontend/node_modules/
/frontend/dist/
/frontend/.netlify/
/frontend/*.tsbuildinfo
/frontend/*.js
/frontend/*.d.ts

/.env
/.docker/
/artifacts/
/DOCKER IMAGES/
/Task-Management-System-source.zip
/github-tree.json
/tracked-files.txt
